@import url("https://fonts.googleapis.com/css?family=Life+Savers:700|Poppins");

.App {
  text-align: center;
}

.App-header {
  font-family: "Life Savers", cursive;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  font-family: "Poppins", sans-serif;
}

#forecast {
  font-weight: 500;
}

#forecast img {
  width: 40px;
  height: 40px;
}

.search-main {
  background: rgb(60, 45, 160);
}

#five-day-title {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "Life Savers", cursive;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px black;
}

.five-day-date {
  font-weight: bold;
  padding-bottom: 5px;
  text-shadow: 0 0 3px gray;
}

#displayCity {
  font-size: 20px;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
